<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-signin-client_id" content="{{ session['google_client'] }}">
        <title>Budget App</title>
{#        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />#}
        <link href="{{ url_for('static', filename='flowbite.min.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
{#        <script src="https://cdn.tailwindcss.com"></script>#}
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    </head>
    <style>
        @keyframes pulse {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.05);
            }

            100% {
                transform: scale(1);
            }
        }

        .pulse {
            animation: pulse 1s 1;
        }
    </style>
    <body class="bg-[#EFEFEF] dark:bg-gray-900">
        {% include "components/navbar.html" %}

        <div class="">
            {% block content %}{% endblock %}
        </div>
        {% if current_user.is_authenticated == False %}
            {% include "components/login_modal.html" %}
            {% include "components/registration_modal.html" %}
        {% endif %}
        {% block modals %}{% endblock %}
        {% block scripts %}{% endblock %}
        <script src="{{ url_for('static', filename='color_mode.js') }}"></script>
        <script src="{{ url_for('static', filename='authentication.js') }}"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script>
            $(document).ready(function(){
                var theme = '{{ current_user.theme }}'
                localStorage.setItem('color-theme', theme)
                if (localStorage.getItem('color-theme')) {
                    if (localStorage.getItem('color-theme') === 'dark') {
                        document.documentElement.classList.add('dark');
                    } else {
                        document.documentElement.classList.remove('dark');
                    }
                // if NOT set via local storage previously
                } else {
                    if (theme === 'light') {
                        document.documentElement.classList.remove('dark');
                    } else {
                        document.documentElement.classList.add('dark');
                    }
                }
            })
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark')
            }
        </script>
        <script type="text/javascript">
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
        </script>
    </body>
</html>